USE [master]
GO
/****** Object:  Database [Tarea1]    Script Date: 21-07-2022 16:04:02 ******/
CREATE DATABASE [Tarea1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tarea1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Tarea1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tarea1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Tarea1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tarea1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tarea1]
GO
/****** Object:  Table [dbo].[CategoriaProductos]    Script Date: 21-07-2022 16:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaProductos](
	[Id] [int] NOT NULL,
	[Nombre] [nchar](50) NOT NULL,
 CONSTRAINT [PK_CategoriaProductos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 21-07-2022 16:04:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Id] [int] NOT NULL,
	[Nombre] [nchar](30) NOT NULL,
	[Descripcion] [nchar](200) NOT NULL,
	[Precio] [int] NOT NULL,
	[Stock] [int] NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[imagen] [nchar](200) NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 21-07-2022 16:04:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[email] [nchar](320) NOT NULL,
	[nombre] [nchar](100) NOT NULL,
	[pass] [nchar](15) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CategoriaProductos] ([Id], [Nombre]) VALUES (1, N'Abarrotes                                         ')
INSERT [dbo].[CategoriaProductos] ([Id], [Nombre]) VALUES (2, N'Cecinas                                           ')
GO
INSERT [dbo].[Producto] ([Id], [Nombre], [Descripcion], [Precio], [Stock], [IdCategoria], [imagen]) VALUES (456, N'Test 10                       ', N'                                                                                                                                                                                                        ', 123, 123, 2, NULL)
GO
INSERT [dbo].[Usuario] ([email], [nombre], [pass]) VALUES (N'diego@lalala.cl                                                                                                                                                                                                                                                                                                                 ', N'Diego Rivera                                                                                        ', N'123            ')
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_CategoriaProductos1] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CategoriaProductos] ([Id])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_CategoriaProductos1]
GO
USE [master]
GO
